* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poopins', sans-serif;
    scroll-behavior: smooth;
    background: #1d1505;

}

p {
    font-weight: 300;
    color: #1111;
}

header {
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background: #1d1505;
}

.navbar {
    display: flex;
    position: relative;
    
}